<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
        <beans>
        <bean id="s" class="com.suchiit.pojo.Student">
        <property name="sno" value="1"></property>
        <property name="sname" value="rani"></property>
        <property name="sadd" value="hyd"></property>
       
        </bean>
        
        <bean id="c" class="com.suchiit.pojo.College">
        <property name="name" value="JNTU"></property>
        <property name="stu" ref="s"></property>
        
        </bean>
        
        <bean id="s1" class="com.suchiit.pojo.Student">
         <constructor-arg value="2"></constructor-arg>
        <constructor-arg value="kumari"></constructor-arg>
        <constructor-arg value="viz"></constructor-arg>
        
        
        </bean>
        </beans>